$lt-gray: #ddd;
$lt-light: floralwhite;
$background-dark: #B6ACBE;
$background-light: #DDD2E1;
$background-pale: #686868;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header{
    @include zero-margin(0px,0px);

}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    @include zero-margin(20px, 0px);
    background-color: $background-pale;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color: $lt-light;
    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
      }
}

.jumbotronf {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color: $lt-light;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: $background-dark;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}

.carousel {
    background:$background-dark;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.headerbg {
    background: $background-dark;
    color:  $lt-light}
  .bodybg {
    background: $background-pale; }
  .text {
    color: $lt-light;}